body {
    font-family: 'Krub', sans-serif;
}

.navegador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(103, 91, 74);
    padding: 10px 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-image: url(/img/bg.jpg);
    color: rgb(200, 31, 85);
    white-space: pre;
}

#detailCard {
    background-image: url(/img/bg.jpg);
}

.banner a {
    text-decoration: none;
    color: rgb(200, 31, 85);
    font-size: 50px;
    margin: 0 1rem;
}

.banner h2 {
    font-size: 3rem;
}

.check {
    display: flex;
    gap: 2rem;
}

.d-flex {
    gap: 1rem;
  }

.content {
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem;
}

.btn {
    color: white !important;
}

.title {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.container {
   margin: 0 3rem !important;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-events {
    justify-content: center;
    padding: auto;
}

footer {
    background-color: rgb(140, 117, 84);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

footer div {
    margin-right: 5rem;
}

.fondo {
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-top: 2rem;
    background-color: rgb(140, 117, 84);    
}

#cards{
    display: flex;
    justify-content: center;
}

.cards {
    padding-top: 2rem;
    padding-bottom: 12rem;
    display: flex;
    justify-content: center;
}

.card-body {
    padding-top: 0.5rem !important;
}

.card-text {
    text-align: justify;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

small {
    font-weight: bold;
    
}

.title {
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
}

.img-card {
    padding: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    width: 100%;
    height: 180px;
}

.button {
    position: relative;
    left: 25.7rem;
    width: 6rem;
}

.table {
    display: flex;
    justify-content: center;
    margin-bottom: 17rem!important;
}

.formulario {
    margin-bottom: 20.5rem !important;
    flex-basis: 600px;
}

td {
    margin: 0.5rem;
    padding: 0.5rem;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border: solid 2px black !important;
}

th {
    margin: 2rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    background-color: rgba(4, 32, 10, 0.2);
    border-bottom: 2px solid black !important;
    border: solid 2px black !important;
}

.navbar-brand img {
    width: 50%;
    height: 50%;
}

@media (max-width: 480px) {
    .navegador {
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
    }

    .check {
        flex-direction: column;
        align-items: center;
    }

    .search {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .form-check {
        margin-right: 0.5rem;
    }
}